body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f8ff;
}

#game {
  display: grid;
  grid-template-columns: repeat(6, 60px); /* 6 colonnes */
  grid-template-rows: repeat(6, 60px);    /* 6 lignes */
  gap: 4px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #87ceeb; /* bleu clair pour l'océan */
  border: 1px solid #333;
  cursor: pointer;
}

.cell.hit {
  background-color: red; /* rouge lorsque c'est touché */
}

.cell.miss {
  background-color: white; /* blanc lorsque c'est raté*/
}

#message {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

#restart {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4682b4;
  color: white;
  cursor: pointer;
}

#restart:hover {
  background-color: #315f7d;
}
